<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".until.application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.3Do"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <service
            android:name=".firebases.FirebaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".features.account.login.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.layout.home.activity.HomeActivity" android:exported="false" />

        <receiver android:name=".until.broadcast.BroadcastUpdateCart"/>
        <receiver android:name=".until.broadcast.BroadcastUpdatePersonal"/>
        <receiver android:name=".until.broadcast.BroadcastOrder"/>
        <receiver android:name=".until.broadcast.BroadcastSubOrder"/>
    </application>

</manifest>